@tailwind base;
@tailwind components;
@tailwind utilities;


/* For WebKit-based browsers */
::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #9233d4; /* Set the color of the thumb */
  border-radius: 4px; /* Set the border radius of the thumb */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Set the color of the track */
}
